.clearfix {
  clear: both;
}

.chartrow {
  padding: 30px;
}

.chartrow > div {
  float: left;
  width: 22%;
  text-align: center;
}

.chartrow > div.full {
  float: none;
  width: 100%;
}

#samurdhi {
  margin-left: 20px;
}

@media (max-width: 700px) {
  .chartrow > div {
    float: none;
    width: 100%;
  }

  #samurdhi {
    margin-left: 0;
  }

  th {
    font-weight: normal !important;
  }
}
